<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>ISGraphicIconConfiguration</key>
		<dict>
			<key>ISEnclosureColor</key>
			<string>purple</string>
			<key>ISSymbolColor</key>
			<string>cyan</string>
			<key>ISSymbolName</key>
			<string>cabinet.fill</string>
		</dict>
	</dict>
</dict>
</plist>
